<h2>Hi <%= @user.first_name %>, welcome to BikeAid</h2>
<p>
  You have successfully signed up to BikeAid,
  use your email (<%= @user.email %>) to login
</p>
<p>To login to the site, just follow this link: <a href="<%= @url %>">BikeAid</a></p>
<p>Thanks for joining and have a great day!!</p>
