<h1>Landing Page</h1>

<h2>Law Firms</h2>
<div id='law-firms'></div>

<h2>Users</h2>
<div id='users'></div>

<h2>Incident Reports</h2>
<div id='incident-reports'></div>

<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>
<script src="/javascript/templates.js"></script>
<script src="/javascript/models/LawFirm.js"></script>
<script src="/javascript/collections/LawFirms.js"></script>
<script src="/javascript/models/IncidentReport.js"></script>
<script src="/javascript/collections/IncidentReports.js"></script>
<script src="/javascript/views/LawFirmsView.js"></script>
<script src="/javascript/views/LawFirmView.js"></script>
<script src="/javascript/models/User.js"></script>
<script src="/javascript/collections/Users.js"></script>
<script src="/javascript/views/UsersView.js"></script>
<script src="/javascript/views/UserView.js"></script>
<script src="/javascript/views/IncidentsView.js"></script>
<script src="/javascript/views/IncidentView.js"></script>

<script>

  var lawFirms = new LawFirms();
  lawFirms.reset(<%= raw(@law_firms.to_json) %>);

  var users = new Users();
  users.reset(<%= raw(@users.to_json) %>);

  var incidents = new IncidentReports();
  incidents.reset(<%= raw(@incident_reports.to_json) %>);

</script>



<script src="/javascript/app.js"></script>
