<div class='title'><h1>Resources</h1></div>

  <div class='resources'>

  <h2>What do I do in the event of an bike accident?</h2>
    <p>
    <h4>1. Collect the details of other party or parties involved.</h4>

      <ul>
        <li>Name:</li>
        <li>Contact Details (incl mobile phone):</li>
        <li>Registration:</li>
      </ul>

    <h4>2. Collect the name and contact details of any witnesses to the crash.</h4>

      <ul>
        <li>Name</li>
        <li>Contact Details</li>
      </ul>

    <h4>3. See a doctor (even if injuries are not apparent).</h4>

      <ul>
        <li>This is important as often injuries surface some time after the incident.</li>
      </ul>

    <h4>4. Take photos of the scene.</h4>

      <ul>
        <li>Record anything you can think of while the memory is fresh in your mind.</li>
      </ul>

    <h4>5. Report the incident to Police by calling 000 (note the officers' name and date of report)</h4>

      <ul>
        <li>Officer's name:</li>
        <li>Date of report:</li>
      </ul>
    </p>
  </div>
