<div class= 'container'>
  <!-- <div class='title'><h1>Resources</h1></div> -->
    <div class='resources'>
    <h3 class='heading'>What do I do in the event of a bike accident?</h3>
      <br>
      <p>
      <h4 class='heading'>1. Collect the details of other party or parties involved.</h4>

        <ul class='bold'>
          <li>Name:</li>
          <li>Contact Details (incl mobile phone):</li>
          <li>Registration:</li>
        </ul>
      <br>
      <h4 class='heading'>2. Collect the name and contact details of any witnesses to the crash.</h4>

        <ul class='bold'>
          <li>Name</li>
          <li>Contact Details</li>
        </ul>
      <br>
      <h4 class='heading'>3. See a doctor (even if injuries are not apparent).</h4>

        <ul class='bold'>
          <li>This is important as often injuries surface some time after the incident.</li>
        </ul>
      <br>
      <h4 class='heading'>4. Take photos of the scene.</h4>

        <ul class='bold'>
          <li>Record anything you can think of while the memory is fresh in your mind.</li>
        </ul>
      <br>
      <h4 class='heading'>5. Report the incident to Police by calling 000 (note the officers' name and date of report)</h4>

        <ul class='bold'>
          <li>Officer's name:</li>
          <li>Date of report:</li>
        </ul>
      </p>
    </div>
</div> <!--- End of Container -!>
