<div class= 'container'>
  <!-- <div class='title'><h1>Resources</h1></div> -->
    <div class='resources'>
    <h3 class='heading'>Contact Us</h3>
    <ul>
      <li>Call: (07) 0000 0000</li>
      <li>Post: Attn: BikeAid</li>
      <li>BikeAid</li>
      <li>123 Sesame Avenue</li>
      <li>Sesame Street, QLD 0000</li>
      <li>AUSTRALIA</li>
      <li>E-mail: privacy-policy@bike_aid.com</li>
    </ul>
    </div>
</div> <!--- End of Container  -->
