<div class= 'container'>
  <!-- <div class='title'><h1>Resources</h1></div> -->
    <div class='resources'>
    <h3 class='heading'>Contact Us</h3>
      <p>Thomas Snow</p>
      <p>0428205555</p>
      <p>snow@gmail.com</p>
    </div>
</div> <!--- End of Container  -->
