.landing_page {
  background: #E9E9E9;
  border-radius: 8px;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 70%;
}

.landing_page_title {
  font-weight: 200;
}
.image {
  text-align: center;
}

.image img {
  width: 100%;
  height: auto;
}

.link {
  text-align: center;
}

@media (min-width: 768px) {
  ul.navbar-nav {
    float: right;
    margin: 0;
  }
}

@media (min-width: 992px) {
  div.col-md-4 {
  width: 100%;
  }
}

@media (min-width: 768px) {
  .form-horizontal label.control-label {
    text-align: left;
  }
}

form.well {
  padding: 60px 300px;
}

.col-md-4.full_width {
    width: 100%;
  }
