.landing_page {
  background: #E9E9E9;
  border-radius: 8px;
  border: 2px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 70%;
}

.landing_page_title {
  font-weight: 200;
}
.image {
  text-align: center;
}

.link {
  text-align: center;
}
