/* Navbar */
.navbar-default .navbar-nav>li span {
  color: #777;
}

.nav>li span:focus, .nav>li span:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
.navbar-nav>li span {
  padding-top: 15px;
  padding-bottom: 15px;
  }
}

.navbar-brand, .navbar-nav>li span {
    text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

.navbar-nav>li span {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li span {
    position: relative;
    display: block;
    padding: 10px 15px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

input.nav_input {
  border: none;
  background: transparent;
  padding-top: 5px;
}

input.nav_input:hover{
  color: black;
}
